.portfolio 
    background: $secondary url('../img/portfolio-pattern.jpg') repeat-y center left 
    background-size: 50% 
    &__title 
        //max-width: 500px 
        margin: auto 
        margin-bottom: 90px 
        text-align: center 
        //padding-top: 100px 
        //max-width: 786px
        color: $text-color
        +bold 
        font-size: 30px 
        font-weight: 400s
        line-height: 45px
    &__arrows 
        max-width: 120px 
        margin: auto 
        display: flex 
        justify-content: space-between 
        cursor: pointer 
        padding-bottom: 60px 
.slider 
    margin-bottom: 68px 
    &__image
        margin: auto 
        //margin-right: 60px  
        //margin-left: 0
        //max-width: 100% 
    //&__item
    //    max-width: 387px !important
    //    margin-right: 30px !important   

        
        

